In [1]:
# Import libraries
import pandas as pd
import numpy as np
import os

In [2]:
# set path
path=r'C:\Users\t3mar\Career Foundry\Data Analytics\Project 6 Citibike'

In [3]:
# import rides
rds = pd.read_csv(os.path.join(path, '02 Data', 'Original', 'Rides.csv'), index_col = False)

In [4]:
# shape
rds.shape

(982905, 16)

In [5]:
# data types
rds.dtypes

ride_id                object
rideable_type          object
started_at             object
ended_at               object
start_station_name     object
start_station_id       object
end_station_name       object
end_station_id         object
start_lat             float64
start_lng             float64
start_location         object
end_lat               float64
end_lng               float64
end_location           object
member_casual          object
Month-Year             object
dtype: object

In [6]:
# find nulls
rds.isnull().sum()

ride_id                  0
rideable_type            0
started_at               0
ended_at                 0
start_station_name      68
start_station_id        68
end_station_name      3365
end_station_id        3365
start_lat                0
start_lng                0
start_location           0
end_lat               1497
end_lng               1497
end_location             0
member_casual            0
Month-Year               0
dtype: int64

In [7]:
# remove nulls
rds1 = rds[rds['end_station_name'].isnull() == False]

In [8]:
# check null removal
rds1.isnull().sum()

ride_id               0
rideable_type         0
started_at            0
ended_at              0
start_station_name    0
start_station_id      0
end_station_name      0
end_station_id        0
start_lat             0
start_lng             0
start_location        0
end_lat               0
end_lng               0
end_location          0
member_casual         0
Month-Year            0
dtype: int64

In [9]:
# descriptive statistics
rds1.describe()

           start_lat      start_lng        end_lat        end_lng
count  979540.000000  979540.000000  979540.000000  979540.000000
mean       40.732143     -74.040287      40.732100     -74.040022
std         0.012112       0.012027       0.012239       0.012012
min        40.705959     -74.088964      40.663062     -74.088964
25%        40.721124     -74.045953      40.721124     -74.045572
50%        40.734999     -74.037977      40.734961     -74.037683
75%        40.742258     -74.030970      40.742258     -74.030970
max        40.863943     -73.941173      40.863124     -73.888271

In [10]:
rds1.duplicated().sum()

0

In [11]:
# import opertaions
ops = pd.read_csv(os.path.join(path, '02 Data', 'Original', 'Operations.csv'), index_col = False)

In [12]:
ops.shape

(12, 20)

In [13]:
rds_ops = rds1.merge(ops, on = 'Month-Year', indicator = True)

In [14]:
rds_ops.shape

(979515, 36)

In [15]:
# export
rds_ops.to_pickle(os.path.join(path,'02 Data', 'Prepared', 'Rides & Operations.pkl'))

In [17]:
rds_ops.to_csv(os.path.join(path,'02 Data', 'Prepared', 'Rides & Operations.csv'))